* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background-color: rgb(0, 0, 0) !important;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0) !important;
    font-weight: 500;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link:hover {
    background-color: rgba(42, 42, 42, 0.204);
    color: white !important;
    border-radius: 50px;
}


.card-img-top {
    object-fit: cover;
    height: 150px;
}

#caruselHeroSection>div>div>img {
    max-height: 60vh;
    object-fit: cover;
}

#contactoSection form{
    max-width: 800px;
}